// Mapped Variables for SCSS use cases
$color: var(--color);
$color-secondary: var(--color-secondary);
$color-accent: var(--color-accent);
$color-permanent: var(--color-permanent);
$color-permanent-secondary: var(--color-permanent-secondary);

$background: var(--background);
$background-accent: var(--background-accent);
$background-secondary: var(--background-secondary);
$background-secondary-accent: var(--background-secondary-accent);

$use-shadow-color: var(--shadow-color);

$primary-color: var(--primary-color);
$primary-accent: var(--primary-accent);

$secondary-color: var(--secondary-color);
$secondary-accent: var(--secondary-accent);

$warn: var(--warn);
$alert: var(--alert);

$scroll-thumb: var(--scroll-thumb);
$scroll-bg: var(--scroll-bg);

$hover-brightness-light: var(--hover-brightness-light);
$hover-brightness-dark: var(--hover-brightness-dark);


// CSS theme sheet
:root {
    --color: #000000;
    --color-secondary: #ffffff;
    --color-accent: #2d2d2d;
    --color-permanent: #ffffff;
    --color-permanent-secondary: #00000087;

    --background: #ffffff;
    --background-accent: #e1eee6;
    --background-secondary: #0e0e0e;
    --background-secondary-accent: #000000;

    --shadow-color: #000000;

    --primary-color: #008542;
    --primary-accent: #008542;

    --secondary-color: #008542;
    --secondary-accent: #008542;

    --warn: #ff8c00;
    --alert: #d93636;

    --scroll-thumb: #929c96;
    --scroll-bg: #ffffff00;
    --scroll-bg-hover: #ffffff;

    --hover-brightness-light: brightness(110%);
    --hover-brightness-dark: brightness(97%);
}


[data-theme="dark"] {
    --color: #ffffff;
    --color-secondary: #000000;
    --color-accent: #cccccc;
    --color-permanent: #ffffff;
    --color-permanent-secondary: #00000087;

    --background: #1e1e1e;
    --background-accent: #333333;
    --background-secondary: #0e0e0e;
    --background-secondary-accent: #000000;

    --shadow-color: #000000;

    --primary-color: #008542;
    --primary-accent: #008542;

    --secondary-color: #008542;
    --secondary-accent: #008542;

    --warn: #d88e32;
    --alert: #d93636;

    --scroll-thumb: #515151;
    --scroll-bg: #262626;
    --scroll-bg-hover: #262626;

    --hover-brightness-light: brightness(140%);
    --hover-brightness-dark: brightness(110%);
}