@import "./styling/theme.scss";

// ==========================
// [    global root vars    ]
// ==========================
$border-radius: 3px;

$font-size: 12px;
$font-size-emphasis: 14px;

// ==========================
// [    component mixins    ]
// --------------------------
//  Declare attributes with
//  unset value to disable
//  when applied
// ==========================

// # Misc
@mixin shadow {
	box-shadow: 0px 0px 5px -3px $use-shadow-color;
	-webkit-box-shadow: 0px 0px 5px -3px $use-shadow-color;
	-moz-box-shadow: 0px 0px 5px -3px $use-shadow-color;
}

// # FUNCTIONAL
@mixin absolute-pos($top, $left, $bottom, $right) {
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin transform2D($x, $y) {
	transform: translateX($x);
	transform: translateY($y);
}

@mixin use-focus {
	&:focus,
	&:focus-within {
		outline: none;
	}

	&:focus-visible {
		outline: 1.5px solid $color-accent;
		transition: none;
		filter: $hover-brightness-light;
	}
}

@mixin transition {
	transition: 0.2s;
}

@mixin no-select {
	user-select: none;
}

@mixin onHover($class) {
	@if $class ==0 {
		&:hover {
			z-index: 0;
			filter: $hover-brightness-light;
		}
	} @else if $class ==1 {
		&:hover {
			z-index: 0;
			filter: $hover-brightness-dark;
		}
	}
}

@mixin onActive {
	&:active {
		filter: brightness(95%);
	}
}

@mixin elementState($class) {
	// element state combinations
	@include onHover($class);
	@include onActive();
}

@mixin mard($margin, $padding) {
	margin: $margin;
	padding: $padding;
}

@mixin wight($width, $height) {
	width: $width;
	height: $height;
}

@mixin border-radious {
	border-radius: $border-radius;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// # COMPONENT STYLES
@mixin btn {
	@include mard(3px 8px, 5.5px 15px);
	@include elementState(0);
	@include use-focus();
	@include shadow;
	@include border-radious();

	text-shadow: $color-permanent-secondary 0px 0.5px 0.3px;
	text-decoration: none;
	text-overflow: ellipsis;
	color: $color;
	fill: $color;
	background-color: $primary-color;

	overflow: hidden;
	border: none;
	display: inline-block;

	cursor: pointer;
}

@mixin btn-default {
	@include btn();
	@include no-select();
	color: $color;
	background-color: $background-accent;
}

@mixin card-default {
	@include no-select();
	@include mard(10px, 20px);

	border-radius: 2px;
	background-color: $background-accent;
}

// ==========================
// [    component styles    ]
// ==========================

// # Buttons
.btn {
	@include btn-default();
}

.btn-a {
	@include btn-default();
	@include mard(8px, 14px 24px);
	@include flex-center();

	font-size: $font-size-emphasis;
}

.btn-b {
	@include btn-default();

	@include wight(23.5px, 23.5px);
	@include mard(2px, 3.5px);
	@include flex-center();
	border-radius: 7px;
}

.primary {
	color: $color-permanent;
	fill: $color-permanent;
	background-color: $primary-color;
}

.secondary {
	color: $color-permanent;
	fill: $color-permanent;
	background-color: $secondary-color;
}

.warn {
	color: $color-permanent;
	fill: $color-permanent;
	background-color: $warn;
}

.alert {
	color: $color-permanent;
	fill: $color-permanent;
	background-color: $alert;
}

// # Buttons Accent
.p-accent {
	color: $color-permanent;
	background-color: $primary-accent;
}

.s-accent {
	color: $color-permanent;
	background-color: $secondary-accent;
}

.disabled {
	cursor: not-allowed;

	&:hover,
	&:active,
	&:focus,
	&:focus-visible,
	&:focus-within {
		cursor: not-allowed;
	}
}

// # Cards
.card {
	@include card-default;
}

.c-container {
	background-color: unset;
}

.c-item {
	background-color: $background-secondary;
	color: $color-permanent;
}

.panel {
	margin: unset;
	top: 0;
	left: 0;
}

// # Content Breakers | Dividers
.divider {
	@include mard(10px, 0.5px);
	background-color: $color;
}

// ==================================
// [    Custom Bootstrap Methods    ]
// ==================================

// # Alignment
.align {
	display: flex;
}

.center {
	align-items: center;
	justify-content: center;
}

// # Fillers
.fill-view {
	@include wight(100vw, 100vh);
}

// # Functions
.no-select {
	@include no-select();
}

.overflow {
	overflow-y: scroll;

	/* width */
	&::-webkit-scrollbar {
		display: none;
	}
}

// ==============
// [    root    ]
// ==============

* {
	font-size: $font-size;
	scrollbar-width: auto;
	scrollbar-color: $scroll-thumb $scroll-bg;

	::-webkit-scrollbar {
		width: 7px;
		@include onHover(0);
	}
	::-webkit-scrollbar-track {
		background: $scroll-bg;
		@include onHover(0);
	}
	::-webkit-scrollbar-thumb {
		background-color: $scroll-thumb;
		border-radius: 0px;
		border: 0px none #ffffff;
		@include onHover(0);
	}
}

h1 {
	font-size: 31px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 19px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 11px;
}

input {
	background-color: $background-accent;
	color: $color;
	// width: 100%;
}

input[type="button"],
input[type="file"],
input[type="text"],
input[type="reset"],
select {
	@include btn-default();
}

option:nth-child(n) {
	// FIXME: no work
	&:hover {
		background: $primary-color;
	}
}

textarea {
	@include btn-default();
	overflow-y: scroll;

	&::-webkit-resizer {
		// border-radius: 0px 0px 100% 0px ;
		background-color: $background-accent;
	}
}

.ta-v {
	resize: vertical;
}

.ta-none {
	resize: none;
}

input[type="range"] {
	@include btn-default();
	@include mard(unset, unset);
	// appearance: none;
	background: unset;
	margin: 3px 8px;
	// width: 100%;
	
	// &::-webkit-slider-runnable-track {
	// 	border-radius: 100px;
	// 	height: 10px;
	// }
	
	// &::-webkit-slider-thumb {
	// 	FIXME: no work
	// 	appearance: none;
	// 	@include wight(15px, 15px);
	// 	margin-top: 0;
	// }
}

input::file-selector-button {
	display: none;
}

input[type="checkbox"] {
	@include wight(20px, 20px);
	@include mard(auto, auto);
	border: 1px solid $color-accent;
	appearance: none;
	border-radius: 3px;
	background-color: $background-accent;

	&:checked {
		background-color: $primary-color;
		border-color: $primary-accent;
	}

	@include use-focus();
}

input[type="number"] {
	@include btn-default();

	&::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

// FIXME: it no work
input[type="radio"] {
	@include use-focus();
	@include mard(auto, auto);
	@include wight(15px, 15px);
	// border: 2px solid #ccc;
	// border-radius: 100%;
	// background-color: #fff;
	// color: #000 !important;
	// outline: none !important;
	// box-shadow: none !important;

	// &:checked {
	// 	background-color: #2e003c !important;
	// 	border-color: #f36721 !important;
	// 	color: #ffffff !important;
	// }
}

body {
	@include no-select;
	@include mard(0, unset);
	color: $color;
	fill: $color;
	background-color: $background;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;

	overflow: hidden;
}

body.disable-events *:not(.modal) {
	pointer-events: none;
}
