@import '../../index.scss';

.statusbar {
    @include wight(100%, 23px);
    background-color: $primary-accent;
    color: $color-permanent;

    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    bottom: 0;
    
    * {
        @include mard(0px 10px, unset);

        display: flex;
        align-items: center;
        background-color: unset;
    }

    span {
        text-overflow: ellipsis;
    }

    .btn-b {
        @include wight(45px , unset);

        fill: $color-permanent;
        background-color: unset;
    }
}